button {
  width: fit-content;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  background-color: #007e91;
}
button:hover {
  /* cursor: pointer;
  border-color: #1ecb40; */
  cursor: pointer;
  /* color: #006b6e; */
  transform: scale(1.1);
  /* background: #fff; */
}
