header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header > div > span {
  display: flex;
}
header > div > span > img {
  width: 149px;
  height: 70px;
  padding: 0 50px;
}
.divider {
  border-left: 1px solid #cccccc;
  height: 70px;
}
