.brands-section {
  display: flex;
  align-items: center;
  margin: 5% 20%;
}
.brands-left-section {
    width: 50%;
    margin-right: 25px;
}
.brands-left-section>img{
    height:324px;
    width: 100%;
}
.brands-right-section {
    width: 50%;
    margin-left: 25px;
}
.brands-title{
    color:#3D4D62;
}
